h1 {
    color: white;
    background-color: black;
    font-family: cursive;
}

span {
    color: cyan;
}

h2 {
    color: white;
    background-color: purple;
    text-align: center;
    font-style: italic;
}

h3 {
    background-color: aqua;
    text-align: right;
    text-decoration: underline;
}

